@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&family=Inter&family=Karla:wght@700&display=swap');

*{
    margin:0px;
    padding:0px;
    font-family: 'Inter';
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(255, 255, 255);
}

.products--container{
    margin:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    justify-content: center;
    background-color: rgb(255, 234, 0);
    padding-block:5%;
}

.products--heading{
    margin:20px;
}

.inner-container{
    display: flex;
    width:100%;
    justify-content: space-around;
    margin-top:10px;
}

.highlight{
    color:rgb(255, 0, 0);
}

.product--container{
    background-color: aqua;
    padding:4% 3%;
    border-radius: 10px;
}