* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #1c1c1c;
  font-family: 'Inter';
}

.App {
  background: #23252c;
  height: 868px;
  width: 1149px;
  margin: auto;
  margin-block: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.card-dark {
  background: #1a1b21;
  height: 780px;
  width: 317px;
  border-radius: 10px;
  margin-right: 30px;
  margin-bottom: 25px;
}

.profile-picture {
  height: 317px;
  width: 317px;
  border-radius: 10px 10px 0px 0px;
}

.info-container {
  text-align: center;
  color: white;
}

.info-name {
  font-size: 25px;
  font-weight: 700;
  margin-top: 20px;
  line-height: 30px;
}

.info-career {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #f3bf99;
  margin-top: 2px;
}

.info-site > a {
  font-weight: 400;
  font-size: 10.24px;
  color: #f5f5f5;
  margin-top: 8px;
  text-decoration: none;
}

.social-button-container {
  display: flex;
  justify-content: center;
  font-weight: 400;
}

.social-button-container i {
  padding-right: 9px;
}

.email-button {
  padding: 9px 13px 9px 11px;
  gap: 8px;
  background: #ffffff;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  width: 115px;
  height: 34px;
  margin: 8.5px;
}

.linkedin-button {
  width: 115px;
  height: 34px;
  background: #5093e2;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  border: 1px solid #5093e2;
  margin: 8.5px;
  color: #ffffff;
}

.about-section {
  color: white;
  margin: 33px 34px 13px 35px;
}

.intrests-section {
  color: white;
  margin: 13px 34px 24px 36px;
}

.about-heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}

#about-content {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
}

.social-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #161619;
  width: 317px;
  height: 64px;
  border-radius: 0px 0px 10px 10px;
}

.social-icons {
  font-size: 35px;
  color: #918e9b;
  margin: 23px;
}

.card-light {
  background: white;
  height: 780px;
  width: 317px;
  color: black;
  border-radius: 10px;
  margin-left: 30px;
  margin-bottom: 25px;
}

.about-section-light {
  background-color: white;
  margin: 33px 34px 13px 35px;
}

.social-section-light {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d5d4d8;
  width: 317px;
  height: 64px;
  border-radius: 0px 0px 10px 10px;
}

.intrests-section-light {
  background-color: white;
  color: black;
  margin: 13px 34px 24px 36px;
}

.info-container-light {
  text-align: center;
  color: #2b283a;
}

.info-career-light {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 2px;
  color: #f47d27;
}

.info-site-light > a {
  font-weight: 400;
  font-size: 10.24px;
  color: #4a4e74;
  margin-top: 8px;
  text-decoration: none;
}
